@import "bootstrap";

.movie {
    border: 1px solid;
    border-color:gray;
    margin: 10px;
  }
  
  .movie h5 {
    text-align: left;
    margin: 10px;
  }
  
  .movie p {
    text-align: left;
    margin-left: 10px;
  }

  .close{
    margin-right: 10px;
  }